

body {
    font-size: 12px;
}

.container{
    padding: 10px;
    font-family: 'Cambria', Arial, sans-serif;
    font-size: 1.5em;
}

.form1{
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 140px;
    border: 1px solid #E5E5E5;
    padding: 5px;
    background-color: #F1F1F1;
}
.form1 input, .form1 button{
    margin: 8px 3px;
}
