
<form class='form1' method='POST' action='#' >
    
    <br>
    <label for='inpUsername' >Usuario: </label>
    <input type='text' id='inpUsername' name='inpUsername' />
    
    <br>
    <label for='inpPassword'>Password</label>
    <input type='password' id='inpPassword' name='inpPassword' />

    <br>
    <button id='btnLogin' type='button' name='btnLogin' >Login</button>
    
</form>